<div id="nrapi">
  <style>
    body > p {
      text-align: justify;
    }
    .examples {
      margin: 0.5em 0 0 1em;
    }
    .examples:before {
      font-weight: bold;
      content: "examples: ";
    }
    .examples span {
      color: #0000AA;
      cursor: pointer;
    }
    .examples span + span:before {
      content: ", ";
    }
    a img {
      border: none;
      width: 20px;
      height: 20px;
      vertical-align: top;
    }
    footer {
      margin-top: 2em;
    }
    #searchboxes, #preview {
      display: inline-block;
      vertical-align: top;
      width: 48%;
    }
    #footercontent {
     font-size: 70%;
     margin-top: 3em;
    }
    @media screen and (max-width: 767px) {
      #searchboxes, #preview {
        display: block;
        width: 100%;
      }
      #preview {
        border-top: 1px solid black;
        margin-top: 1em;
      }
      #filters {
        margin-left: 0!important;
      }
    }
  </style>

  <h1>A node.js based REST API for Nihongo Resources data</h1>

  <p>Note: this is the API tester page. For regular searching, you'll want to use <a href="http://nihongoresources.com">nihongoresources.com</a>.</p>

  <p>This is a demonstrator page that uses the API hosted on this domain for searching through
  <a href="http://www.edrdg.org/jmdict/j_jmdict.html">JMDict</a>, <a href="http://www.csse.monash.edu.au/~jwb/kanjidic2/">KANJIDIC2</a>,
  <a href="http://www.csse.monash.edu.au/~jwb/enamdict_doc.html">JMNedict</a> and the nihongoresources giongo/gitaigo data.
  Searches use the same API routes that external services would use to get data (for demonstrator purposes, this page
  consumes the <code>html</code> routes, to get fully formatted search results). Search for something (english, romaji,
  hiragana, katakana, or kanji form is autodetected) to see the search results on the right. The fitler options don't
  work for everything; filtering word type in the kanji results won't do anything, for instance, and sorting on kanji
  form for giongo/gitaigo, which has no kanji form, is fairly meaningless.</p>

  <div id="searchboxes">
    <formset class="dict">
      <h3>Dictionary search:</h3>
      <input type="text" placeholder="type something" id="jpensearch">
      <input type="submit" value="json">
      <input type="submit" value="html">
      <div class="examples"><a>lion</a><a>shiawase</a><a>マクド</a><a>おおぜい</a><a>新聞</a></div>
    </formset>

    <formset class="kanji">
      <h3>Kanji search:</h3>
      <input type="text" placeholder="type something">
      <input type="submit" value="json">
      <input type="submit" value="html">
      <div class="examples"><a>tiger</a><a>くに</a><a>セイ</a><a>聞</a></div>
    </formset>

    <formset class="sfx">
      <h3>Giongo (sound effects) and gitaigo (state descriptor) search:</h3>
      <input type="text" placeholder="type something">
      <input type="submit" value="json">
      <input type="submit" value="html">
      <div class="examples"><a>splash</a><a>ドキ</a><a>ぴし</a></div>
    </formset>

    <formset class="name">
      <h3>Japanese names search:</h3>
      <input type="text" placeholder="type something">
      <input type="submit" value="json">
      <input type="submit" value="html">
      <div class="examples"><a>Tokyo</a><a>カヲル</a><a>まつもと</a><a>奈良</a></div>
    </formset>

    <footer>
      <a title="contact on Twitter" href="https://mastodon.social/@TheRealPomax"><img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Mastodon_Logotype_%28Simple%29.svg"></a>
    </footer>
  </div>

  <div id="preview">
    {% include "navoptions.html" %}
    <div id="results"></div>
  </div>

  <div id="footercontent">Jp/En dictionary information is retrieved from a sql conversion of
    <a href="http://www.csse.monash.edu.au/~jwb/j_jmdict.html">JMDict</a>, and is supplied to
    you in accordance with the JMDict <a href="http://www.csse.monash.edu.au/~jwb/edrdg/licence.html">license statement</a>.
    Kanji information is retrieved from a sql conversion of <a href="http://www.csse.monash.edu.au/~jwb/kanjidic2/">kanjidic2</a>,
    and is supplied in accordance with the <a href="http://www.csse.monash.edu.au/~jwb/edrdg/">EDR&amp;D group</a> <a href="http://www.csse.monash.edu.au/~jwb/edrdg/licence.html">license</a>.
    Name information is retrieved from a sql conversion of <a href="http://www.csse.monash.edu.au/~jwb/enamdict_doc.html">enamdic</a>,
    and is also supplied in accordance with the <a href="http://www.csse.monash.edu.au/~jwb/edrdg/">EDR&amp;D group</a> <a href="http://www.csse.monash.edu.au/~jwb/edrdg/licence.html">license</a>.
  </div>

  <script>
    var open = function(url, callback) {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", url, true);
      xhr.onreadystatechange = function() {
        if (xhr.status == 200 && xhr.readyState == 4) {
          var data = xhr.responseText;
          try {
            data = JSON.parse(data);
            callback(data);
          } catch(e) {
            if(data.indexOf("</style>") > -1) {
              callback(data);
            } else { console.error("could not parse "+data); }
          }
        }
      };
      xhr.send(null);
    }

    var lookups = function(input, type, method) {
      var url = "/" + type + "/" + method + "/" + input.value;
      open(url, function(data) {
        if (typeof data !== "string") {
          data = JSON.stringify(data,null,2).replace(/ /g,'&nbsp;').replace(/\n/g,'<br>');
        }
        var results = document.querySelector("#results")
        if (method === "show" && data.indexOf("</div>") === -1) {
          data = "<p>No results found. You can try adding wildcards (* and ? are supported) before or after your search term.</p>";
        }
        results.innerHTML = data;
        rerender();

        // reroute <a> to JS links
        var as = results.querySelectorAll("a");
        as = Array.prototype.slice.call(as);
        as.forEach(function(a) {
          var r = a.href.split('/').slice(-3);
          a.href="javascript:jpenlookups('"+r[2]+"','"+r[0]+"','"+r[1]+"')";
        });

        history.pushState({ "timestamp": Date.now() }, type + " search for " + input, url);
      });
    };

    var jpenlookups = function(input, type, method) {
      document.getElementById('jpensearch').value = decodeURI(input);
      lookups({value:input}, type, method);
    }

    var formsets = document.querySelectorAll("formset");
    formsets = Array.prototype.slice.call(formsets);

    formsets.forEach(function(set) {
      var type = set.getAttribute("class");

      var input = set.querySelector("input[type=text]");
      var json  = set.querySelector("input[value=json]");
      var html  = set.querySelector("input[value=html]");

      var lookup = function(method) { lookups(input, type, method); };

      html.onclick    = function() { lookup("show"); };
      json.onclick    = function() { lookup("find"); };
      input.onkeydown = function(evt) { if(evt.which === 13 || evt.which === 10) { lookup("show"); }};

      var examples = set.querySelectorAll(".examples a");
      examples = Array.prototype.slice.call(examples);
      examples.forEach(function(a) {
        var span = document.createElement("span");
        span.innerHTML = a.innerHTML;
        span.onclick = function() {
          input.value = decodeURI(a.innerHTML);
          lookup("show");
        };
        a.parentNode.replaceChild(span,a);
      });
    });
  </script>
</div>
